body {
  margin: 10%;
  background-color: #351905;
  background-image: url(../../assets/images/black-linen.png);
  color:antiquewhite;
}

.appTitle {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: burlywood;
  font-weight: 550;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  max-width: 800px;
}